<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="D:/Mobile App Testing/StartAppiumWithCode">
        <classes>
            <class name="com.yousafzai.StartServer">
                <methods>
                    <include name="startServer"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>